<h1>Listing orders</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Status</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.location %></td>
    <td><%=h order.status %></td>
    <td><%= link_to 'Show', "#{url_for(order)}.xml" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New order', new_order_path %>